*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-accent-400: hsl(153, 71%, 59%);
  --clr-accent-300: hsl(0, 0%, 14%);
  --clr-accent-100: hsl(0, 0%, 85%);

  --clr-primary-400: hsl(0, 0%, 8%);

  --clr-neutral-100: hsl(0 0% 100%);

  --ff-primary: "Space Grotesk", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-medium: 500;
  --fw-bold: 700;

  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
  --fs-650: 2.5rem;
  --fs-700: 3rem;
  --fs-800: 4.5rem;
  --fs-900: 5.5rem;

  /* --fs-body: var(--fs-400);  given in the figma file 
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-600);
  --fs-nav: var(--fs-600);  fs 600 for tablet and higher   
  --fs-button: var(--fs-300);  will stay this size throughout all screens  */

  /* dont worry about this yet, will come back after i start to style using margins */
  /* --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem; */
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* utility classes  */

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-accent-100 {
  color: var(--clr-accent-100);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
.bg-accent-400 {
  background-color: var(--clr-accent-400);
}
.bg-accent-300 {
  background-color: var(--clr-accent-300);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-medium {
  font-weight: var(--fw-medium);
}

.fs-300-400 {
  font-size: clamp(1rem, 0.912rem + 0.376vw, 1.25rem);
}

.fs-500-600 {
  font-size: clamp(1.5rem, 1.324rem + 0.751vw, 2rem);
}

.fs-600-700 {
  font-size: clamp(2rem, 1.648rem + 1.502vw, 3rem);
}

.fs-650-900 {
  font-size: clamp(2.5rem, 1.444rem + 4.507vw, 5.5rem);
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}

.fs-650 {
  font-size: var(--fs-650);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}

.container,
hr {
  --max-width: 69.375rem;
  --padding: 1rem;
  /* --padding: 2rem; for tablet */
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* 

.underline {
    display: inline;
    position: relative;
    overflow: hidden;
  }
  .underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -5px;
    background: var(--Green, #4ee1a0);
    height: 4px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .underline:hover:after,
  .underline:focus:after,
  .underline:active:after {
    right: 0;
  } */

/* Define the initial style for the text */
.underline-text {
  position: relative;
  display: inline-block;
  text-decoration: none; /* Remove default underline */
  transition: color 0.5s ease, transform 0.5s ease; /* Add smooth color and transform transitions */
}

/* Add a pseudo-element for the underline effect */
.underline-text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--clr-accent-400);
  transform: scaleX(
    0
  ); /* Initially, set the scale to 0 for the underline effect */
  transform-origin: bottom right;
  transition: transform 3s ease; /* Add a smooth transform transition */
}

/* Add a class to underline the text when it's in the viewport */
.underlined::before {
  transform: scaleX(1); /* Set the scale to 1 to reveal the underline */
  transform-origin: bottom left;
}

/* general styling */

body {
  font-size: var(--fs-400);
  font-family: var(--ff-body);
  color: var(
    --clr-accent-100
  ); /* body color from figma file leftmost design system */
  background-color: var(--clr-primary-400);
}

.primary-header .container {
  margin-bottom: 5.75rem;
}

.primary-header {
  margin-top: 1.25rem;
  text-align: center;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 9.62463rem;
  margin-inline: auto;
}

.name {
  line-height: 2rem; /* 133.333% doesn't change through figma file*/
  letter-spacing: -0.02081rem;
  margin-bottom: 1.25rem;
}

/* clamp calculation used for min-width of 375px and max-width of 1440px */

.profile-picture,
.header-profile-picture {
  width: clamp(10.8879375rem, 4.9313rem + 25.415vw, 27.8125rem);
  content: url("assets/images/image-profile-mobile.webp");
  margin-inline: auto;
}

.profile-picture {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.hero-text {
  margin-bottom: 5.75rem;
}

.hero-header {
  line-height: clamp(2.5rem, 1.4437rem + 4.507vw, 5.5rem); /* 100% */
  letter-spacing: -0.071rem;
  margin-top: clamp(20.5rem, 8.09547rem + 52.926vw, 33.5rem);
  margin-bottom: 1.5rem;
}

.hero-paragraph {
  line-height: clamp(
    1.625rem,
    1.5057rem + 0.5089vw,
    1.75rem
  ); /* from 375px to 768px */
  margin-bottom: 1.5rem;
}

.hero-btn {
  /* width: 7.5rem; */
  /* width: 100%; */
  display: inline-block;
  /* margin-inline: auto; */
  border: none;
  background: none;
  text-transform: uppercase;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: 0.14288rem;
  white-space: nowrap;
}

/* hero-btn stays the same through all screen sizes */

/* .project-1 {
    content: url("assets/images/thumbnail-project-1-small.webp")
} */

/* // Medium devices (tablets, 768px and up) for header ONLY*/
@media (min-width: 768px) {
  .container,
  hr {
    --padding: 2rem;
  }
  .primary-header .container {
    margin-bottom: 4.5rem;
  }
  .primary-header {
    text-align: left;
  }
  .profile-picture {
    content: url("assets/images/image-profile-tablet.webp");
    left: 100%;
    transform: translateX(-100%);
  }
  .flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5.63rem;
  }
  .nav-list {
    width: 12.03075rem;
  }
  .hero-text {
    max-width: 27.6875rem;
    margin-bottom: 4.13rem;
  }
  .hero-header {
    margin-top: 0;
    letter-spacing: -0.12781rem;
  }

  /* .hero-paragraph stays the same between tablet and desktop */
}

/* // Large devices (desktops, 992px and up) or 1024px */
@media (min-width: 1024px) {
  .profile-picture {
    content: url("assets/images/image-profile-desktop.webp");
    left: 89.1%;
  }

  /* clamp takes care of size so i dont need to change img src */
  /* .project-1 {
    content: url("assets/images/thumbnail-project-1-large.webp")
} */
  .nav-list {
    margin-right: 1.84rem;
  }

  .primary-header .container {
    margin-bottom: 14.44rem;
  }
  .flex {
    margin-bottom: 7.94rem;
  }
  .hero-text {
    max-width: 40.125rem;
    margin-bottom: 2.69rem;
  }
  .hero-header {
    letter-spacing: -0.15625rem;
  }
}

/* .project img {
  width: clamp(21.5625rem, 17.27109rem + 18.31vw, 33.75rem);
} */

/* first section of main */

.programming-languages .container {
  --column-count: 1;
  text-align: center;
  margin-top: clamp(2.5rem, 1.7958rem + 3.0047vw, 4.5rem); /* 375px to 1440px */
  margin-bottom: clamp(
    2.5rem,
    1.7958rem + 3.0047vw,
    4.5rem
  ); /* to the horizontal line */
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
}

.programming-language {
  margin-bottom: clamp(1.5rem, -0.5324rem + 8.6718vw, 3.63rem); /*375 to 1440 */
}

.programming-language:last-child {
  margin-bottom: 0;
}

.programming-language h2 {
  margin-bottom: clamp(
    0.06rem,
    -0.7129rem + 3.2977vw,
    0.87rem
  ); /* 375px to 768px */
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .programming-languages .container {
    --column-count: 2;
    text-align: left;
    margin-bottom: clamp(
      6.25rem,
      3.3929rem + 5.9524vw,
      8.75rem
    ); /*768 to 1440 */
  }
  .horizontal {
    display: none;
  }
}

/* 
 // Large devices (desktops, 992px and up or 1024px) */
@media (min-width: 1024px) {
  .programming-languages .container {
    --column-count: 3;
  }
}

/* projects section */

.projects .container {
  margin-top: 5rem;
  margin-bottom: clamp(5rem, 3.7007rem + 5.5437vw, 8.69rem); /* 375 to 1440 */
}

.header {
  display: flex;
  align-items: baseline;
  margin-bottom: clamp(2.5rem, 1.6197rem + 3.7559vw, 5rem);
}

.hero-btn.projects-btn {
  align-self: baseline;
  margin-left: auto;
}

.projects-container {
  --column-count: 1;
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
}

.project {
  display: inline-block;
  margin-inline: auto;
}

.project img {
  /* width: 21.5625rem; */
  width: clamp(21.5625rem, 7.6339rem + 29.0179vw, 33.75rem);
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .projects .container {
    margin-top: 0;
  } /* the container above takes care of the margin-bottom */
  .projects-container {
    --column-count: 2;
  }
  .project img {
    width: clamp(21.5625rem, 7.6339rem + 29.0179vw, 33.75rem);
  }
}

/* footer */

footer > .container {
  /* max-width: 27.8125rem; */
  padding-top: 3.75rem; /* complete with media query */
  padding-bottom: 3.75rem;
}

.footer-header-container {
  margin-bottom: clamp(3.13rem, 3.3408rem + -0.7099vw, 3rem);
  text-align: center;
}

.contact-header {
  margin-bottom: 1.25rem;
  line-height: clamp(2.5rem, 1.444rem + 4.507vw, 5.5rem); /* done 375 to 1440 */
  letter-spacing: clamp(
    -0.071rem,
    0.0103rem + -0.3471vw,
    -0.15625rem
  ); /* done 375 to 1440 */
}

.flex-group {
  margin-bottom: clamp(
    6.19rem,
    5.8942rem + 1.2621vw,
    6.5rem
  ); /* 375px to 768px */
}

footer .flex-group {
  max-width: 27.8125rem;
  margin-inline: auto;
}

.footer-nav .container {
  margin-inline: 0;
  width: 100%;
}

.footer-nav > .container > .flex {
  margin-top: 2.44rem;
  margin-bottom: 0;
}

.footer-header-container p {
  line-height: clamp(
    1.625rem,
    1.5057rem + 0.5089vw,
    1.75rem
  ); /* done 375 to 768 */
  /* no letter spacing */
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  border: none;
  border-bottom: 0.0625rem solid var(--clr-neutral-100);
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: -0.01388rem;
  text-transform: uppercase;
}

form input:focus, form textarea:focus {
    outline: none;
}

form textarea {
  height: 6.6875rem;
}

footer .hero-btn {
  display: block;
  margin-left: auto;
}

.footer-nav {
  border-top: 0.0625rem solid var(--clr-neutral-100);
  text-align: center;
}

@media (min-width: 768px) {
  footer > .container {
    padding-top: clamp(3.75rem, 2.0357rem + 3.5714vw, 5.25rem);
    padding-bottom: clamp(2.5rem, -7.25rem + 20.3125vw, 5.75rem);
  }
  .contact-header {
    margin-bottom: clamp(
      1.25rem,
      0.1071rem + 2.381vw,
      2.25rem
    ); /* stays stagnant till 768px and grows from here */
  }
  .footer-nav > .container > .flex {
     margin-top: clamp(1.88rem, 0.6686rem + 2.5238vw, 2.94rem); /* 768 to 1440px */
  }
}

@media (min-width: 1024px) {
  footer .container {
    max-width: none;
  }

  .footer-header-container {
    max-width: 27.8125rem;
    text-align: left;
  }

  footer .flex-group {
    max-width: none;
    margin-inline: auto;
  }

  .flex-group {
    display: flex;
    justify-content: space-between;
  }
  .flex-group > * {
    /* flex-grow: 1; */
    flex: 1;
  }
  .flex-group .form-container {
    max-width: 27.8125rem;
  }
}
